/* Customized bootstrap style */

/**
 * Global - 通用样式
 */
html {
    font-size: 100px;
}

body {
    padding-top: 1rem;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", Tahoma, Arial, STHeiti, sans-serif;
}

ul{
    margin: 0;
    padding: 0;
}

ul li{
    list-style-type: none;
}

.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.box {
    margin-bottom: .15rem;
}

/**
 * Global - 导航
 */
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}

.navbar {
    min-height: .85rem;
    margin-bottom: .2rem;
    border: 0 none;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    -webkit-box-shadow: 0 0 .1rem rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 0 .1rem rgba(0, 0, 0, .15);
    box-shadow: 0 0 .1rem rgba(0, 0, 0, .15);
}

.navbar-brand {
    height: auto;
    padding: .22rem 0;
}

.navbar .navbar-toggle {
    width: .9rem;
    height: .84rem;
    margin: 0;
    padding: .24rem .24rem;
    border: 0 none;
    border-left: 1px solid #efefef;
    border-radius: 0;
}

.navbar .navbar-toggle {
    font-size: .3rem;
    color: #939aac;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #4796da;
    background-color: #e7e7e7;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #4796da;
    background-color: #e7e7e7;
}

/**
 * 首页定制样式
 */

/* side - 搜索框 */
.form-control.index-search {
    height: .46rem;
}

/* main - 云言 */
.cloudWhisperBox {
    position: relative;
    min-height: 1.46rem;
    background-color: #3599f1;
    color: #fff;
}

.cloudWhisperBox .hd {
    position: absolute;
    top: 0;
    left: .3rem;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, .1);
}

.cloudWhisperBox .hd .title {
    position: relative;
    width: .4rem;
    height: .6rem;
    line-height: .4rem;
    text-align: center;
    background-color: #ffcc3d;
}

.cloudWhisperBox .hd .title:after {
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    display: block;
    width: .28427rem;
    height: .28427rem;
    transform: rotateZ(-45deg);
    transform-origin: 0 0;
    background-color: #3599f1;
}

.cloudWhisperBox .bd {
    padding: .3rem .5rem 0 1rem;
}

.cloudWhisperBox .bd .paragraph {
    font-size: .18rem;
    line-height: 1.6;
}

.cloudWhisperBox .bd .author {
    padding: .25rem;
    text-align: right;
}

/* main - 文章列表 */
.promoteArticleBox {

}
.promoteArticleBox {

}
.promoteArticleBox {

}

.list {
}