/* Customized bootstrap style */

/**
 * Global - 通用样式
 */
html {
    font-size: 100px;
}

body {
    padding-top: 1rem;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", Tahoma, Arial, STHeiti, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

.glyphicon {
    color: #b6bbc8;
}

.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.box {
    margin-bottom: .2rem;
}

/**
 * Global - 导航
 */

/*
.navbar.navbar-default
    .container

        .navbar-header
            .navbar-brand
            .navbar-toggle

        .navbar-desktop
            .nav.navbar-nav
            .nav.navbar-nav.navbar-right

        .navbar-mobile
            .collapse.navbar-collapse
            #myTab
            #myTabContent
*/

.navbar.navbar-default {
    min-height: .85rem;
    margin-bottom: .2rem;
    border: 0 none;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    opacity: .95;
    -webkit-box-shadow: 0 0 .1rem rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 0 .1rem rgba(0, 0, 0, .15);
    box-shadow: 0 0 .1rem rgba(0, 0, 0, .15);
}

.navbar-default .navbar-brand {
    height: auto;
    padding: .22rem 0;
}

.navbar-default .navbar .navbar-toggle {
    width: .9rem;
    height: .84rem;
    margin: 0;
    padding: .24rem .24rem;
    font-size: .3rem;
    color: #939aac;
    border: 0 none;
    border-left: 1px solid #efefef;
    border-radius: 0;
}

.navbar-default .navbar-desktop .nav > li > a:hover,
.navbar-default .navbar-desktop .nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}

.navbar-default .navbar-desktop .navbar-nav {
    margin-left: .17rem;
}

.navbar-default .navbar-desktop .navbar-nav > li > a {
    padding: 0 .26rem;
    height: .84rem;
    line-height: .84rem;
}

.navbar-default .navbar-desktop .navbar-right > li > a {
    margin: .25rem 0 0 0;
    padding: 0 .15rem;
    height: .34rem;
    line-height: .34rem;
}

.navbar-default .navbar-desktop .navbar-nav > li > a {
    color: #313040; /*#4796da*/
    background-color: #fff;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.navbar-default .navbar-desktop .navbar-nav > li > a:hover,
.navbar-default .navbar-desktop .navbar-nav > li > a:focus {
    color: #54b2ff;
    background-color: #f0f0f0;
}

.navbar-default .navbar-desktop .navbar-nav > .active > a,
.navbar-default .navbar-desktop .navbar-nav > .active > a:hover,
.navbar-default .navbar-desktop .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #3599f1;
}

/**
 * 首页定制样式
 */

/* side - 搜索框 */
.form-control.index-search {
    height: .46rem;
}

/* main - 云言 */
.cloudWhisperBox {
    position: relative;
    min-height: 1.46rem;
    overflow: hidden;
    background-color: #3599f1;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cloudWhisperBox .hd {
    position: absolute;
    top: 0;
    left: .3rem;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, .3);
}

.cloudWhisperBox .hd .title {
    position: relative;
    width: .4rem;
    height: .6rem;
    line-height: .4rem;
    text-align: center;
    font-weight: bold;
    background-color: #ffcc3d;
}

.cloudWhisperBox .hd .title:after {
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    display: block;
    width: .28427rem;
    height: .28427rem;
    transform: rotateZ(-45deg);
    transform-origin: 0 0;
    background-color: #3599f1;
}

.cloudWhisperBox .bd {
    padding: .3rem .5rem 0 1rem;
}

.cloudWhisperBox .bd .paragraph {
    font-size: .18rem;
    line-height: 1.6;
}

.cloudWhisperBox .bd .author {
    padding: .25rem;
    text-align: right;
}

/* main - 文章列表 */
.promoteArticleBox {
}

.promoteArticleBox .list {
}

.promoteArticleBox .list .item {
    margin: 0 0 .25rem;
    padding: 0 0 .25rem;
    border-bottom: 1px solid #f3f3f3;
}

.promoteArticleBox .list .item figure {
    position: relative;
    float: left;
    width: 2rem;
    height: 1.4rem;
    overflow: hidden;
    margin-right: -100%;
}

.promoteArticleBox .list .item figure .thumb {
    -webkit-transition: transform 4s .2s;
    -moz-transition: transform 4s .2s;
    -ms-transition: transform 4s .2s;
    -o-transition: transform 4s .2s;
    transition: transform 4s .2s;
}

.promoteArticleBox .list .item:hover figure .thumb {
    transform: scale(1.2);
}

.promoteArticleBox .list .item figure .categoryName {
    position: absolute;
    left: 0;
    top: 0;
    width: .78rem;
    height: .40rem;
    line-height: .40rem;
    text-align: center;
    background-color: rgba(53, 153, 241, 0.81);
    color: #fff;
}

.promoteArticleBox .list .item .introBox {
    float: left;
    padding-left: 2.2rem;
}

.promoteArticleBox .list .item .introBox .headline {
    font-size: .18rem;
    line-height: .4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.promoteArticleBox .list .item .introBox .headline a {
    color: #34495e;
}

.promoteArticleBox .list .item .introBox .summary,
.promoteArticleBox .list .item .introBox .summary a {
    color: #313040;
}

.promoteArticleBox .list .item .introBox .summary {
    font-size: .14rem;
    line-height: .3rem;
}

.promoteArticleBox .list .item .introBox .metadata {
    margin-top: .2rem;
}

.promoteArticleBox .list .item .introBox .metadata .glyphicon {
    margin-right: .05rem;
}

.promoteArticleBox .list .item .introBox .metadata > div {
    width: 25%;
    float: left;
}

.promoteArticleBox .list .item .introBox .metadata .date {
}

.promoteArticleBox .list .item .introBox .metadata .author {
}

.promoteArticleBox .list .item .introBox .metadata .comments {
}

.promoteArticleBox .list .item .introBox .metadata .views {
}

